body {
    margin: 0;
    background-color: #1B244A;
    color: #EEEEEE;
}

.container{
    display: flex;
    justify-content: space-around;
    padding: 5em 4.375em;
    text-align: center;
    font-family: Verdana;
}


.container  div > *:where(:not(:last-child)){
    margin-bottom: 25px;
}

h3{
    font-size: 40px;
}


.score-el{
    width: 160px;
    height: 120px;
    border-radius: 5px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #080001;
    
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 90px;
    color: #F94F6D;
    
}


.increment-by{
    display: flex;
    justify-content: space-around;
   
}


button{
     font-family: 'Cursed Timer ULiL', sans-serif;
     width: 45px;
     height: 45px;
     padding: 0px;
     background-color: transparent;
     border: 2px solid #9AABD8;
     border-radius: 5px;
     color: #9AABD8;
     font-size: 18px;
}
                                      